body{
    margin: 0;
    font-family: sans-serif;
}

header{
    font-size: 24px;
    color: #bc4f3b;
    background-color: black;
    display: flex;
}

header h1{
    margin: 20px;
}

header img{
    width: 100px;
    height: 100px;
}

.banner img{
    width: 100%;
}

.produtos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produtos div{
    width: 30%;
    margin-bottom: 30px;
}

.produtos div img{
    width: 100%;
}

.produtos div p{
    margin: 0;
}

.produtos div .titulo{
    font-size: 26px;
}

footer{
    text-align: right;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
}

@media(max-width: 600px){
    header h1{
        margin: 26px;
        font-size: 34px;
    }
    .banner{
        display: none;
    }

    .produtos{
        display: block;
    }

    .produtos div{
        width: 100%;
    }

}